.firstsection {
    background-image: url("../../../public/assets/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 44px 0px 60px 0px;
}

.firstsectionTopText h2 {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
}

.firstsectionTopText h2 span {
    font-weight: 500;
}

.firstsectionTopText p {
    color: #FFFFFFB2;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
    line-height: 24px;
    width: 915px;
}

.firstsectionTopText p span {
    font-weight: 700;
    font-size: 25px;
}

.firstsectionTop {
    display: flex;
    justify-content: space-between;

}

.firstsectionTopText button {
    width: 228px;
    height: 50px;
    background-color: #E8AA31;
    color: #FFFFFF;
    font-size: 20px;
    border: 0;
    border-radius: 3px;
    font-weight: 600;
    margin-top: 60px;
}
.firstsectionTopText button:hover{
    background-color: #885b00;
    transition: 0.7s;
}
.firstsectionBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 150px;
}

.firstsectionImg {
    text-align: center;
}

.firstsectionText p {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 17px;
    line-height: 32px;
    width: 300px;
}
.secondsection{
    padding: 100px 0px 121px 0px;
}
.secondsectionContent{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}





@media only screen and (max-width: 1720px) {
    .firstsectionTopText p {
        width: 100%;
    }
}
@media only screen and (max-width: 1390px) {
    .secondsectionContent {
        justify-content: center;
    }
}

@media only screen and (max-width: 1209px) {
    .firstsectionTopText p {
        font-size: 16px;
        margin-top: 7px;
    }

    .firstsectionTopText h2 {
        font-size: 23px;
    }

    .firstsectionTopText h2 span {
        font-size: 18px;
    }

    .firstsectionTopImg img {
        width: 330px;
    }

    .firstsectionTopText p span {
        font-size: 17px;
    }
    .firstsectionBottom {
        justify-content: center;
        gap: 55px;
    }
}

@media only screen and (max-width: 800px) {
    .firstsectionTop {
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
    }

    .firstsectionTopImg img {
        width: 260px;
    }

    .firstsectionTopText button {
        display: none;
    }

    .firstsectionBottom {
        margin-top: 46px;
        gap: 30px;
    }
}